
.table thead tr > th.grey {
    background-color: rgba(230, 230, 230, 0.82) !important;
    color: black; !important;
    border: solid 1px gray !important;
    font-family: Arial;
    font-style: normal;
    font-size: 14px;
}

.table tbody tr td div.success {
    padding: 5px;
    background-color: lawngreen !important;
    border: solid 1px lightgray !important;
    border-radius: 5px;
    text-align: center;
}

.table tbody tr td div.danger {
    padding: 5px;
    background-color: orangered !important;
    color: yellow;
    border: solid 1px lightgray !important;
    border-radius: 5px;
    text-align: center;
}

.table tbody tr td div.warning {
    padding: 5px;
    background-color: yellow !important;
    border: solid 1px lightgray !important;
    border-radius: 5px;
    text-align: center;
}

.table tbody tr > td.info {
    background-color: #d9edf7 !important;
}

.table-hover tbody tr:hover > td.success {
    background-color: #d0e9c6 !important;
}

.table-hover tbody tr:hover > td.danger {
    background-color: #ebcccc !important;
}

.table-hover tbody tr:hover > td.warning {
    background-color: #faf2cc !important;
}

.table-hover tbody tr:hover > td.info {
    background-color: #c4e3f3 !important;
}
